@import "../variables";

:root {
  --color-aoeu-blue: #{$aoeu-blue};
  --color-aoeu-blue-dark: #{$aoeu-blue-dark};
  --color-aoeu-dark-gray: #{$aoeu-dark-gray};
  --color-aoeu-rio-grande: #{$aoeu-rio-grande};
  --color-aoeu-apple-green: #{$aoeu-apple-green};
  --color-aoeu-observatory: #{$aoeu-observatory};
  --color-aoeu-tiffany-blue: #{$aoeu-tiffany-blue};
  --color-aoeu-allports: #{$aoeu-allports};
  --color-aoeu-indigo: #{$aoeu-indigo};
  --color-aoeu-toolbox: #{$aoeu-toolbox};
  --color-aoeu-purple-mountains-majesty: #{$aoeu-purple-mountains-majesty};
  --color-aoeu-free-speech-magenta: #{$aoeu-free-speech-magenta};
  --color-aoeu-vivid-cerise: #{$aoeu-vivid-cerise};
  --color-aoeu-shiraz: #{$aoeu-shiraz};
  --color-aoeu-flamingo: #{$aoeu-flamingo};
  --color-aoeu-mango-tango: #{$aoeu-mango-tango};
  --color-aoeu-sunglow: #{$aoeu-sunglow};
  --color-aoeu-oracle: #{$aoeu-oracle};
  --color-aoeu-athens-gray: #{$aoeu-athens-gray};
  --color-masters-primary: #{$aoeu-masters-primary};
  --color-masters-secondary: #{$aoeu-masters-secondary};
  --color-masters-tertiary: #{$aoeu-masters-tertiary};
  --color-courses-primary: #{$aoeu-courses-primary};
  --color-courses-secondary: #{$aoeu-courses-secondary};
  --color-courses-tertiary: #{$aoeu-courses-tertiary};
  --color-pro-primary: #{$aoeu-pro-primary};
  --color-pro-secondary: #{$aoeu-pro-secondary};
  --color-pro-tertiary: #{$aoeu-pro-tertiary};
  --color-flex-primary: #{$aoeu-flex-primary};
  --color-flex-secondary: #{$aoeu-flex-secondary};
  --color-flex-tertiary: #{$aoeu-flex-tertiary};
  --color-magazine-primary: #{$aoeu-magazine-primary};
  --color-magazine-secondary: #{$aoeu-magazine-secondary};
  --color-magazine-tertiary: #{$aoeu-magazine-tertiary};
  --color-conference-primary: #{$aoeu-conference-primary};
  --color-conference-secondary: #{$aoeu-conference-secondary};
  --color-conference-tertiary: #{$aoeu-conference-tertiary};
}
